<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="logo">
                    <img src="img/icons/logo.png" alt="">
                </div>

                <div class="footer__rights">© thissite.ru, 2022</div>
            </div>

            <div class="footer__right">
                <div class="contacts-wrapper">
                    <a class="contacts-item" href="tel:+74957777777">
                        <img class="contacts-item__icon"
                            src="img/icons/phone.png"
                            alt="Телефон">
                        <span>+7 (495) 777-77-77</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
